body {
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    align-items: center;
}

.authorList {
    margin-top: 30px;
    font-size: 1em;
    margin-bottom: 40px;
}

.refs {
    text-decoration: none;
    color: firebrick;
}

.buttonOrder {
    margin-bottom: 50px;
}

.btns {
    border-radius: 20px;
    border-color: firebrick;
    background-color: firebrick;
    color: white;
}


.abstract {
    display: block;
}

.abstract_text {
    margin: auto;
    width: 55%;
    align-items: center;
    text-align: justify;
    text-indent: 30px;
    text-justify: inter-word;
}

