body {
    margin: auto;
    width: 58%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    align-items: center;
}

.authorList {
    margin-top: 30px;
    font-size: 1em;
    margin-bottom: 40px;
}

.refs {
    text-decoration: none;
    color: firebrick;
}

.buttonOrder {
    margin-bottom: 50px;
}

.btns {
    border-radius: 20px;
    border-color: firebrick;
    background-color: firebrick;
    color: white;
}

.introImage {
    margin-top: 50px;
    margin-bottom: 50px;
}

.abstract {
    margin-top: 10px;
    display: block;
    margin-bottom: 10px;
}

figcaption {
    margin: auto;
    width: 70.6%;
    font: italic x-small sans-serif;
    align-items: center;
    text-align: justify;
}

.abstract_text {
    margin: auto;
    align-items: center;
    text-align: justify;
    text-indent: 30px;
    text-justify: inter-word;
}

